<configuration>
<appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>test.log</file>
    <append>true</append>
    <immediateFlush>true</immediateFlush>
    <encoder>
        <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
</appender>

<!-- 👇 This disables wire logs -->
<logger name="org.apache.hc.client5.http.wire" level="OFF"/>

<!-- You can also disable other verbose logs -->
<logger name="org.apache.hc.client5.http.headers" level="OFF"/>
<logger name="org.apache.hc.client5.http.impl" level="WARN"/>

<root level="INFO">
    <appender-ref ref="STDOUT" />
</root>
</configuration>